* {
    box-sizing: border-box;
}

/* Body */
#main_page {
    background-image: url('images/sad_woman.jpg');
    background-size: cover;
    
}

#thoughts_b {
    background-color: #645e2e;
}

.aboutme_body {
    background-image: url('./images/pika_sad.jpg');
    background-size: cover;
}

.body_note {
    background-image: url('../images/pumpkin.jpg');
    background-size: contain;
}


.extra_body {
    background-image: url('../images/lioness.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
/* Main */
.main_page {
    
    text-align: center;
}

.main_thoughts {
    background-image: url(../images/snoopy_mic.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    padding: 10px;

}
/* Navigation */
.main_nav a {
    color: rgb(0, 0, 0);
    font-size: large;
    padding: 15px;
    
}

.note_nav a {
    color: white;
}

/* Headers */
.main_head {
    color: rgb(81, 11, 11);
    text-shadow: 3px 3px 5px #f49424;
    
}

.thoughts_head {
    color: rgb(17, 48, 133);
    text-shadow: 4px 4px 8px white;
}

.thoughts_h2 {
    color: rgb(9, 29, 85);
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 10px
}

.aboutme_head {
    color: black;
    text-shadow: 2px 1px 10px rgb(145, 137, 22);
    
}

.note_head {
    color: white;
    text-shadow: 5px 5px 4px orange;
}

.note_h2 {
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px #ffbc6f;
    text-align: center;
}

.extra_h2 {
    text-align: center;
    text-shadow:2px 2px 10px white;

.extra_h3 {
     text-shadow:2px 2px 10px white;

}
}
.thoughts_span {
    background-color: rgba(255, 255, 255, 0.5);
}


/* Paragraphs */
.all_par {
    color: rgb(217, 206, 206);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    padding: 20px;
}

.main_par {
 background-color:hsla(0, 0%, 4%, 0.5);
 padding: 20px;
}

.thoughts_par {
    background-color: hsla(54, 81%, 10%, 0.5);
    border: 3px solid hsla(0, 0%, 0%, 0.5);
    
}

.thoughts_par2 {
    background: none;
    border: none;
    padding-top: 0;
}

.thoughts_par3 {
    background: none;
    border: none;
    padding-top: 0;
}

.aboutme_par {
    background-color: hsla(0, 0%, 0%, 0.5);
    text-align-last: center;
}
.aboutme_par3 {
    max-width: 400px;
}

.extra_par, .extra_par2 {
    color: black;
}
.extra_par {
    background-color: rgba(242, 196, 150, 0.6);
}

.note_par {
    background-color: rgba(121, 103, 12, 0.3);
}

.par_headphones {
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}

.note_hover {
    color: black;
    text-decoration: none;
    
    
}

.note_hidden {
    text-align: center;
}

.note_par_border {
    border: 2px ridge rgba(231, 181, 33, 0.2);
}
/* Lists */
li {
    padding: 10px;
}


/* Tool tip */
.tooltip_thoughts:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
    cursor: crosshair;
}
.extra_tooltip:hover {
    background-color: hsla(0, 0%, 100%, 0.7);
    cursor: crosshair;
}

.note_hover:hover {
    color: white;
    background-color: #ffffff66;
    cursor: pointer;
}

.tooltip_extra:hover {
    background-color: hsla(0, 59%, 41%,0.5);
    cursor: crosshair;
}
/* Buttons */
.all_buttons {
    color: black;
    cursor: pointer;
}

.thoughts_click {
    background-color: rgb(148, 141, 141);
    color: rgb(0, 0, 0);
    float: right;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.in_answer, .c_answer {
    width: 100px;
    height: 20px;
}

.in_answer:active {
    background-color: red;
}
.c_answer:active {
    background-color: green;
}

.aboutme_all_buttons {
    width: 110px;
    height: 22px;
    font-size: 12px;
}
.aboutme_play_button:hover {
    background-color: rgb(140, 186, 199);
}
.aboutme_class_button:hover {
    background-color: rgb(171, 61, 65);
}

.aboutme_alert_button:hover {
    color: white;
    background-color: black;
}

.aboutme_real_button:hover {
    background-color: rgb(241, 190, 127);
}

.extra_button_footer {
    text-align: right;
    margin-bottom: 10px;
}

/* Div section */

.thoughts_div {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.thoughts_div > div {
    flex:1;
}

.thoughts_div1 {
    background-color: rgba(21, 57, 32, 0.5);
    border: 2px solid black;
}

.thoughts_div2 {
    background-color:rgba(87, 50, 21,0.5);
    border: 2px solid black;
}

.extra_div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.extra_div > div {
    max-width: 600px;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.extra_par_div {
    background-color: rgba(192, 122, 51, 0.7);
    border: 2px solid rgba(173, 173, 173,0.5);
} 

.extra_ul_div {
    font-style: italic ;
}

.music_div1 {
    background-color: rgb(171, 112, 1);
}

.music_div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.music_div > div {
    margin: 0 auto;
    padding: 10px;
    width: 50%;
}
/* Tables */
.aboutme_table {
    margin-top: 20px;
    
}

.aboutme_table, th, td {
    border: 2px solid black;
}

.th_main {
    background-color: rgba(47, 130, 130,0.20);
}


/* Unorder list */
.note_ol {
    font-weight: bolder;
}
/* Icons */
.fa-envelope {
    font-size: 23px;
}

.fa-envelope:hover {
    background-color: hsla(62, 98%, 32%, 0.63);
}

.note_icons {
   font-size: 2em;
    text-align: right;
}

.fa-spider:hover, .fa-ghost:hover {
    background-color: #ff8c00;
    padding: 3px;
}
/* Audio and Video and Images*/
video {
    border: 1px groove white;
    width: 100%;
    height: 100%;
}

audio {
    width: 100%;
    height: 100%;
}


.note_img_div::after {
    content: "";
    clear: both;
    display: table;
}

.test_img {
    float: left;
    width: 25%;
    padding: 5px;
}

img {
  width: 100%;
}


/* Footer */
.extra_p_footer {
    font-size: 20px;
}

